<% include ../partials/header%>

<div class="ui main text container">
  <div class="ui top attached segment">
    <div class="ui divided items">

      <% if(blogs.length === 0) { %>
        <div class="ui header">No Blogs Found</div>
      <% } else { %>
        <% blogs.forEach(function(blog) { %>
          <div class="item">
            <div class="image">
              <img src="<%= blog.image %>">
            </div>
            <div class="content">
              <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
              <div class="meta">
                <span><%= blog.created.toDateString() %></span>
              </div>
              <div class="description">
                <p><%- blog.body.substring(0, 100) %>...</p>
              </div>
              <div class="extra">
                <a href="/blogs/<%= blog._id %>" class="ui violet basic button">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>

<% include ../partials/footer %>
