<% include ../partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header centered"><%= blog.title %></div>
  <div class="ui top attached">
    <div class="item">
      <img src="<%= blog.image %>" class="ui centered rounded image">
      <div class="content">
        <span>Submitted by <Strong><em><%= blog.author.username %></em></Strong> on <%= blog.created.toDateString() %></span>
      </div>
      <hr>
      <div class="description">
        <p><%- blog.body %></p>
      </div>
      <br>
      <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
        <a href="/blogs/<%= blog._id %>/edit" class="ui orange basic button">EDIT</a>
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="post" id="delete">
          <button class="ui red basic button">DELETE</button>
        </form>
      <% } %>
    </div>
  </div>
</div>
<div class="ui text container segment">
  <div class="ui grid">
    <div class="row">
      <div class="left floated seven wide column">
        <div class="ui huge header centered left floated">COMMENTS</div>
      </div>
      <% if(currentUser){ %>
        <div class="right floated seven wide column">
          <a href="/blogs/<%= blog._id %>/comments/new" class="ui black right floated button">ADD NEW COMMENT</a>
        </div>
      <% } %>
    </div>
  </div>
  <hr>
  <% if(blog.comments.length === 0){ %>
    <div class="ui huge centered">
      No Comments Posted on this thread
    </div>
  <% } else { %>
    <div class="ui internally celled grid">
      <% blog.comments.forEach(function(comment){ %>
      <div class="row">
        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
          <div class="four wide column">
            <strong><%= comment.author.username %></strong> -
          </div>
          <div class="nine wide column">
            <p><%= comment.text %></p>
          </div>
          <div class="three wide column" id="btn">
            <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit" class="ui orange mini button" id="ce">EDIT</a>
            <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" id="de">
              <input type="Submit" value="DELETE" class="ui red mini button">
            </form>
          </div>
        <% } else { %>
          <div class="four wide column">
            <strong><%= comment.author.username %></strong> -
          </div>
          <div class="ten wide column">
            <p><%= comment.text %></p>
          </div>
        <% } %>
      </div>
      <% }) %>
    </div>
  <% } %>
</div>

<% include ../partials/footer.ejs %>
